*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
}

.container{
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 11 11 11px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 0 auto;
    max-width: 600px;
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */

}

h1{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;
    align-items: center;
}

label{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    /* align-self: center; */
    margin: 10px 0;
}

button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #0062cc;
}

#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}